<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Create Post</title>
</head>
<body>
    <form action="/feed/createPost" method="post">
        <fieldset>
            <legend>Create Post</legend>
            <input name="title" placeholder="Title"/>
            <input name="body" placeholder="Body"/>
            <input name="url" placeholder="Url"/>
            <input name="tags" placeholder="tags"/>
            <button>Submit</button>
        </fieldset>
    </form>
</body>
</html>