<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="css/html" href="/public/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <style>

    </style>

    <title>Feed</title>
</head>
<body>
    ${headerNav}
    <section>
        <div id="main-feed" class="column">
            
        </div>
        <script src="/js/img-to-feed.js"></script>
    </section>
</body>
</html>