<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
</head>
<body>
    <h1></h1>

    <form action="/login" method="post">
        <fieldset>
            <legend>Login/Register</legend>
            <p>${message}</p>
            <input name="username" placeholder="Enter Username"/>
            <input name="password" placeholder="Enter Password"/>
            <button>Submit</button>
        </fieldset>
    </form>
    <a href="/login/register">New? Register Here!</a>
</body>
</html>