<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <style>
        .h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
        }
    </style>
</head>
<body>
    <section class="hero has-background-black">
        <div class="hero-body">
            <div class="container">
                    <h1 class="h1 title is-1">ACT App</h1>
            </div>
        </div>
    </section>
    <section class="section has-background-light">
        <div class="columns">
            <div class="column"></div>
                <div class="column">
                    <form action="/login/register" method="post">
                    <fieldset>
                        <legend>Register</legend>
                        <p>${message}</p>
                        <input name="username" placeholder="Enter Username"/>
                        <input name="password" type="password" placeholder="Enter Password"/>
                        <input name="confirm-password" type="password" placeholder="Confirm Password"/>
                        <input name="firstName" placeholder="Enter First Name"/>
                        <input name="lastName" placeholder="Enter Last Name"/>
                        <input name="email" type="email" placeholder="Enter Email"/>
                        <input name="address" placeholder="Address"/>
                        <input name="city" placeholder="Enter City" />
                        <input name="state" placeholder="Enter State" />
                        <input name="zipcode" placeholder="Enter Zipcode" />
                        <button type="submit" value="submit" class="button is-success is-normal">Sign Up</button>
                    </fieldset>
            </form>
            <a href="/login">Already Have an Account? Login Here!</a>
                </div>
            <div class="column"></div>
        </div>
</section>
</body>
</html>