<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Whatever you wanna put here</legend>
            <div>
                <label for="causes">Pick a Cause that Most Matters to You:</label>
                    <select id="dropdown">
                        <option value="" disabled selected>Select your option</option>
                        <option value="blm">Black Lives Matter</option>
                        <option value="election">Upcoming Election</option>
                        <option value="climate">Climate Change</option>
                        <option value="youth">Youth Development Services</option>
                    </select>
            </div>
    </fieldset>
    <fieldset>
            <div>
                <label for="causes">Pick a Cause that Moderately Matters to You:</label>
                    <select id="dropdown">
                        <option value="" disabled selected>Select your option</option>
                        <option value="blm">Black Lives Matter</option>
                        <option value="election">Upcoming Election</option>
                        <option value="climate">Climate Change</option>
                        <option value="youth">Youth Development Services</option>
                    </select>
            </div>
    </fieldset>
    <fieldset>
            <div>
                <label for="causes">Pick a Cause that Least Matters to You:</label>
                    <select id="dropdown">
                        <option value="" disabled selected>Select your option</option>
                        <option value="blm">Black Lives Matter</option>
                        <option value="election">Upcoming Election</option>
                        <option value="climate">Climate Change</option>
                        <option value="youth">Youth Development Services</option>
                    </select>
            </div>
    </fieldset>           
</body> 
</html>