<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <title>Update User</title>
</head>
<body>
    <form action="/updateUser" method="post">
        <fieldset>
            <legend>Update User</legend>
            <input name="username" placeholder="Enter Username"/>
            <input name="password" placeholder="Enter Password"/>
            <input name="firstName" placeholder="Enter First Name" />
            <input name="lastName" placeholder="Enter Last Name" />
            <input name="email" placeholder="Enter Email" />
            <input name="address" placeholder="Enter Address" />
            <input name="city" placeholder="Enter City" />
            <input name="state" placeholder="Enter State" />
            <button>Submit</button>
        </fieldset>
    </form>
</body>
</html>