<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Images</title>
    <style>
        .hidden {
            display: none;
        }

        img {
            max-width:100px;
            max-height:100px;
        }

        #upload-image {
            margin-top: 60px;
            padding:20px;
        }
    </style>
</head>
<body>
    ${headerNav}
    <div id="upload-image" class="lr-container">
            <div class="main-content1">
                <div id="image-to-Upload"></div>
                <fieldset>
                    <legend class="registertext">Upload Image</legend>
                    <input type="file" accept="image/*" name="picurl" id="upload" class="upload-box" />
                </fieldset>
                <fieldset>
                    <legend class="registertext">Create Post</legend>
                                                                <!-- REPLACE THIS WITH ACTION ITEM EVENTUALLY <input name="title" placeholder="Title"/> -->
                    <textarea id="body" name="body" placeholder="Body" class="input-1"/></textarea>
                    <label for="causes" class="registertext">Select A Tag</label>
                    <select id="dropdown" name="cause3" class="input-1">
                        <option value="" disabled selected>Select your option</option>
                        <option value="blm">Black Lives Matter</option>
                        <option value="election">Upcoming Election</option>
                        <option value="climate">Climate Change</option>
                        <option value="youth">Youth Development Services</option>
                    </select>
                    <button id="submit" type="submit" class="hidden">Upload</button>
                </fieldset>
            </div>
        </div>
    </div>
    <div id="images">

    </div>
    
    <script src="/js/upload-logic.js" type="module"></script>
</body>
</html>