<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Images</title>
    <style>
        .hidden {
            display: none;
        }

        img {
            max-width:100px;
            max-height:100px;
        }
        
        #upload-image {
            margin-top: 60px;
            padding:20px;
        }

    </style>
</head>
<body>
        ${headerNav}
    <div class="uploadPage">
    <div class="appHeader">
    <h1>ACT App</h1>
    </div>
    <div class="upload-container">
        <div id="upload-image"></div>
            <div id="image-to-Upload"></div>
                            <fieldset>
                    <legend>Upload Image</legend>
                    <input type="file" accept="image/*" name="picurl" id="upload" />
                </fieldset>
    </div>
        <div class="uploadselection">
                <fieldset>
                    <legend>Create Post</legend>
                    <input name="caption" type="text" placeholder="Insert A Caption"/>
                    <input id="body" type="text" name="body" placeholder="Body"/>
                    <label for="causes" class="title is-size-4">Pick a Tag</label>
                    <select id="dropdown" name="cause1">
                        <option value="" disabled selected>Select an Option</option>
                        <option value="blm">Black Lives Matter</option>
                        <option value="election">Upcoming Election</option>
                        <option value="climate">Climate Change</option>
                        <option value="youth">Youth Development Services</option>
                    </select>
                    <button id="submit" type="submit" class="hidden">Upload</button>
                </fieldset>
        </div>
    <div id="images">
    </div>
    </div>
    <script src="/js/upload-logic.js" type="module"></script>
    </div>
</body>

</html>